@page "/basic/catalog/list"

@using HentaiBlazor.Data.Basic;

<PageContainer Title="目录设置">

    <Space Style="margin-bottom: 0.1rem">
        <SpaceItem>
            <Button Type="primary" Icon="plus" OnClick="@ShowModal">添加</Button>
        </SpaceItem>
    </Space>

    <Table TItem="BCatalogEntity" DataSource="@BCatalogEntities">
        <AntDesign.Column @bind-Field="@context.Usage"></AntDesign.Column>
        <AntDesign.Column @bind-Field="@context.Path"></AntDesign.Column>
    </Table>

    
    
    <CatalogEdit >

    </CatalogEdit>

</PageContainer>

