@page "/basic/catalog/list"

@using HentaiBlazor.Data.Basic;

<PageContainer Title="目录设置">

    <Space Style="margin-bottom: 0.1rem">
        <SpaceItem>
            <Button Type="primary" OnClick="()=>OpenAdd()">添加</Button>
        </SpaceItem>
    </Space>

    <Table TItem="BCatalogEntity" DataSource="@BCatalogEntities">
        <ActionColumn>
            <Space>
                <SpaceItem>
                    <Button Type="primary" OnClick="()=>OpenModify(context.Id)">修改</Button>
                    <Button Type="primary" Danger OnClick="()=>DeleteConfirm(context.Id)">删除</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
        <Column Title="用途" @bind-Field="@context.Usage"></Column>
        <Column Title="路径" @bind-Field="@context.Path"></Column>
    </Table>

</PageContainer>

