@page "/basic/catalog/list"

@using HentaiBlazor.Data.Basic;

<PageContainer Title="目录设置">

    <Space Style="margin-bottom: 0.5rem">
        <SpaceItem>
            <Input Placeholder="关键字" Style="width: 15rem;" @bind-Value="searchKeyword">
            <Prefix><Icon Type="filter" /></Prefix>
            </Input>
        </SpaceItem>
        <SpaceItem>
            <Button Type="primary" @onclick="Search">查询</Button>
            <Button Type="primary" @onclick="OpenAdd">添加</Button>
        </SpaceItem>
    </Space>

    <Table TItem="BCatalogEntity" DataSource="@BCatalogEntities">
        <ActionColumn>
            <Space>
                <SpaceItem>
                    <Button Type="primary" OnClick="()=>OpenModify(context.Id)">修改</Button>
                    <Button Type="primary" Danger OnClick="()=>DeleteConfirm(context.Id)">删除</Button>
                </SpaceItem>
                <SpaceItem>
                    <Button Type="primary" OnClick="()=>OpenModify(context.Id)">扫描</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
        <Column Title="用途" @bind-Field="@context.Usage"></Column>
        <Column Title="路径" @bind-Field="@context.Path"></Column>
    </Table>

</PageContainer>

