@page "/basic/author/list"

@using HentaiBlazor.Data.Basic

<PageContainer Title="作者维护">
    <Table TItem="BAuthorEntity" DataSource="@BAuthorEntities">
        <ActionColumn>
            <Space>
                <SpaceItem><Button Danger OnClick="()=>DeleteConfirm(context.Id)">Delete</Button></SpaceItem>
            </Space>
        </ActionColumn>
        <Column Title="名称" @bind-Field="@context.Name"></Column>
        <Column Title="映射" @bind-Field="@context.Alias"></Column>
    </Table>
</PageContainer>

