@namespace HentaiBlazor
@inherits LayoutComponentBase

<AntDesign.Pro.Layout.BasicLayout Logo="@("https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg")"
                                 
                                  MenuData="@Menus">
    <RightContentRender>
        <!--
        <HentaiBlazor.Components.RightContent />
        -->
    </RightContentRender>
    <FooterRender>
        <p style="text-align: right; margin: 0.5rem; padding: 0.5rem; color: darkgray;">
            Copyright &copy; Handsome All Rights Not Reserved.
        </p>
    </FooterRender>
    <ChildContent>
        @Body
    </ChildContent>
</AntDesign.Pro.Layout.BasicLayout>
<!--
<SettingDrawer />
-->
