
@inherits LayoutComponentBase

<BasicLayout Logo="@("/logo.png")" Title="Hentai Blazor" MenuRender="false">
    <RightContentRender>
        <div>
            <Dropdown>
                <Overlay>
                    <Menu>
                        <MenuItem>
                            <NavLink href="/security/profile">
                                个人资料
                            </NavLink>
                        </MenuItem>
                        <MenuItem>
                            <NavLink href="/security/password">
                                修改密码
                            </NavLink>
                        </MenuItem>
                        <MenuDivider />
                        <MenuItem>
                            <a target="_blank" rel="noopener noreferrer" href="http://www.tmall.com/">
                                退出系统
                            </a>
                        </MenuItem>
                    </Menu>
                </Overlay>
                <ChildContent>
                    <a class="ant-dropdown-link" @onclick:preventDefault>
                        Handsome <Icon Type="down" />
                    </a>
                </ChildContent>
            </Dropdown>

            <Avatar Icon="user" />
        </div>
    </RightContentRender>
    <FooterRender>
        <p style="text-align: right; margin: 0.25rem; padding: 0.25rem; color: darkgray;">
            Copyright &copy; Handsome All Rights Not Reserved.
        </p>
    </FooterRender>
    <ChildContent>
        @Body
    </ChildContent>
</BasicLayout>
