
@inherits LayoutComponentBase

<BasicLayout Logo="@("/logo.png")"
                                  Title="Hentai Blazor"
                                  MenuData="@Menus">
    <RightContentRender>
        <div>
            <Text>Handsome</Text>
            <Avatar Icon="user" />
        </div>
    </RightContentRender>
    <FooterRender>
        <p style="text-align: right; margin: 0.25rem; padding: 0.25rem; color: darkgray;">
            Copyright &copy; Handsome All Rights Not Reserved.
        </p>
    </FooterRender>
    <ChildContent>
        @Body
    </ChildContent>
</BasicLayout>
<!--
<SettingDrawer />
-->
