
<Button Size="small" Icon="reload"
        @onclick="(e) => OnClear(e)" Style="margin-left: 5px;">
    清除
</Button>

@foreach (var item in Sortable.SortableItems)
{
<Button Size="small"
        Type="@item._Type()" Icon="@item._Icon()" @onclick="(e) => OnChange(e, item.Name)">
    @(item.Text + " ")
    
    @if (item.Index > 0)
    {
        <sup>@item.Index</sup>
    }
</Button>
}


