@page "/comic/viewer/{Id}"

<PageContainer Title="@book.Name">
    <div style="float: right;">
        <Icon Type="expand" Style="font-size: 2rem;" />
        <Icon Type="column-width" Style="font-size: 2rem; color: gray;" />
        <Icon Type="column-width" Style="font-size: 2rem; color: gray;" Rotate="90" />

        @if (_Scale)
        {
            <Icon Type="fullscreen" Style="font-size: 2rem;" OnClick="() => { _Scale = !_Scale; }" />
        }
        else
        {
            <Icon Type="fullscreen-exit" Style="font-size: 2rem;" OnClick="() => { _Scale = !_Scale; }" />
        }
    </div>
    <Pagination Style="margin-bottom: 0.5rem;" Total="EntryPaginator.Total"
                PageSize="EntryPaginator.PageSize"
                PageIndex="EntryPaginator.PageIndex"
                OnPageIndexChange="_paging"
                OnPageSizeChange="_sizing"
                ShowQuickJumper />

    <div class="viewer-contained">

        <!-- 父级元素要设为：relative，以确定内里块的高宽 -->
        <div class="viewer-left" @onclick="Previous">
            <!-- 上一页 -->
        </div>
        <div class="viewer-right" @onclick="Next">
            <!-- 下一页 -->
        </div>

        <img src="@_Image" class="viewer-content viewer-content-fit" />
    </div>

</PageContainer>
