
.viewer-tool {
    font-size: 2rem;
    cursor: pointer;
}

.viewer-tool:hover {
    color: darkblue;
}

.viewer-contained {
    height: 95vh;
    background-color: gainsboro;
    position: relative;
    text-align: center;
}
.viewer-fullscreen {
    background-color: gainsboro;
}

.viewer-contain {
    position: relative;
    text-align: center;
    background-color: gainsboro;
}


.viewer-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.viewer-content-fit {
    max-width: 100%;
    max-height: 100%;
}

.viewer-content-height {
    max-height: 100%;
}

.viewer-content-width {
    max-width: 100%;
}

.viewer-left {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0px;
    cursor: url(/arrow-left.svg), pointer;
}

.viewer-right {
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0px;
    cursor: url(/arrow-right.svg), pointer;
}
