@page "/comic/viewer/{Id}"

<PageContainer Title="@book.Name">

    <div style="height: 90vh; background-color: gainsboro; text-align: center; vertical-align: middle; margin-bottom: 0.5rem;">
        <img src="@_Image" style="max-height: 100%; max-width: 100%; margin: auto;" />
    </div>
    
    <Pagination Total="EntryPaginator.Total"
                PageSize="EntryPaginator.PageSize"
                PageIndex="EntryPaginator.PageIndex"
                OnPageIndexChange="_paging"
                OnPageSizeChange="_sizing"
                ShowQuickJumper />

</PageContainer>